.feeling .chart-container {
  margin: auto;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 992px) {
  .feeling .chart-container {
    height: 400px;
  }
}
