nav {
  z-index: 20;
  font-size: 1.25rem;
}

nav a {
  font-size: 1.25rem;
}

nav a.active {
  color: #dc3545 !important;
}

.dropdown-item.active,
.dropdown-item:active {
  color: white !important;
  background-color: #dc3545 !important;
}
